@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Издательство ScriptMEDIA</h2>
<div class="conteiner">
    <div class="pic">
        <img id="director" src="../img/1047.jpg" />
        <p class="dir"> Ген. директор издательства «ScriptMEDIA»</p>
        <p class="dir">Гришков Павел Анатольевич</p>


    </div>
    <div class="text">
        <p>
            – одно из крупнейших издательств, занимающее лидирующие позиции на российском книжном рынке, основанное в 1990 году.  АСТ издает книги практически всех жанров для самой широкой аудитории.  Это интеллектуальная и развлекательная литература, русская и зарубежная классика, учебники  и учебные пособия, прикладные книги.  Издательство выпускает более 40 млн. экземпляров книг в год и объединяет  сильнейшую в стране редакционную команду.

            Основные  принципы работы издательства – сохранять интеллектуальное мировое наследие; предоставлять читателю максимально большой выбор литературы, соответствующей его личным и профессиональным интересам; всегда быть в курсе мировых литературных трендов и делиться ими с читателем; быть социально-активными - реализовывать рекламные кампании в поддержку чтения в России.

            Издательство ScriptMEDIA обладает крупнейшим авторским портфелем – более 5 000 имен.
            Ежемесячно из печати выходит более 500 новых книг. Среди авторов издательства – писатели с мировым именем Стивен Кинг, Пауло Коэльо, Дэн Браун, Анна Гавальда, Донна Тартт, Нил Гейман, Сюзанн Коллинз, Харпер Ли, Пола Хокинс, Энди Вейер, Джеймс Дэшнер, Джордж Мартин; а также популярные российские авторы: Борис Акунин, Дмитрий Глуховский, Людмила Улицкая, Сергей Лукьяненко, Владимир Познер, Эдвард Радзинский,  Гузель Яхина, Ольга Узорова, Сергей Тармашев, Елена Михалкова и многие другие.


          

        </p>
      </div>
    </div>
