@{
    ViewBag.Title = "Контакты";
}
<h2>Контакты</h2>

<div class="contacts">
    <div class="pic">
        <img  src="../img/Geo.png" />
    </div>
    <div class="text">
        <p class="contactinfo"><strong>Адрес :</strong> ул. Тараса Шевченко, 10, Киев, 01004</p>
        <p class="contactinfo"><strong>Телефон :</strong>098 100 1799</p>   
    </div>
</div>
<div class="contacts">
    <div class="pic">
        <img src="../img/mail.png" />
    </div>
    <div class="text">
        <p class="contactinfo"><a href="mailto:Periodicals@example.com">Periodicals@example.com</a></p>
        <p class="contactinfo"><a href="mailto:ScriptMEDIA@example.com">ScriptMEDIA@example.com</a></p>
    </div>
</div>
<div class="contacts">
    <div class="pic">
        <img src="../img/vkontaktu.png" />
    </div>
    <div class="text">
        <p class="contactinfo"><a href="mailto:https://vk.com/:ScriptMEDIA">https://vk.com/:ScriptMEDIA</a></p>
      
    </div>
</div>
<div class="contacts">
    <div class="pic">
        <img src="../img/Facebook_icon.svg.png" />
    </div>
    <div class="text">
        <p class="contactinfo"><a href="mailto:https://www.facebook.com/ScriptMEDIA/">https://www.facebook.com/ScriptMEDIA/</a></p>

    </div>
</div>