@model IEnumerable<Periodicals.DAL.Entities.Topic>

@{
    ViewBag.Title = "Темы изданий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Темы изданий</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Добавить тему", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
    </p>
}

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h4>@Html.ActionLink(item.NameOfTopic, "Index1", new { controller = "Publications", id = item.TopicId }@*, htmlAttributes: new { @class = "btn btn-primary btn-lg" }*@)</h4>
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    <span> @Html.ActionLink("Редактировать", "Edit", new { id = item.TopicId }, htmlAttributes: new { @class = "btn btn-default" }) </span>
                    <span> @Html.ActionLink("Удалить", "Delete", new { id = item.TopicId }, htmlAttributes: new { @class = "btn btn-default" }) </span>
                </td>
            }

        </tr>
    }
</table>
